<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901563232876-qdcelnu02m6376qh6ei19o4c6plmv88l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901563232876-qdcelnu02m6376qh6ei19o4c6plmv88l</string>
	<key>API_KEY</key>
	<string>AIzaSyBQbJVfrSDxOVixvICpPFQOpgZtFlsAQqM</string>
	<key>GCM_SENDER_ID</key>
	<string>901563232876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitcoinChat</string>
	<key>PROJECT_ID</key>
	<string>bitcoin-chat-12589</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoin-chat-12589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901563232876:ios:3ffb612cc7148ee5f61e49</string>
	<key>DATABASE_URL</key>
	<string>https://bitcoin-chat-12589-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>